@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
html,
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: $background-color-light-1;
}

header {
    background-color: $primary-background-color;
    color: white;
    border-bottom: 5px solid #3e4048;
    position: relative;
    h1 {
        text-align: center;
        padding-top: 20px;
        z-index: 1;
        position: relative;
    }
    h3 {
        padding: 10px;
        margin: 0;
        text-align: center;
        color: rgb(190, 190, 190);
    }
}

.small-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-header {
    background: #111216;
    color: white;
}

.card-body {
    padding: 0;
}

.entry {
    border-bottom: 1px solid #dadada;
    padding: 15px;
    transition: 0.2s all;
    cursor: pointer;
    position: relative;
    &:hover {
        background: #e8e8e8;
    }
    .title {
        font-weight: 600;
    }
    .description {
        color: #949494;
    }
}

.image {
    position: absolute;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    opacity: 0.5;
        
    img {
        width: 100%;
    }
}

.alert {
    margin: 10px;
}

.info-button {
    position: absolute;
    top: 50%;
    width: 25px;
    border-radius: 100px;
    transform: translateY(-50%);
    right: 20px;
}

.card-header {
    position: relative;
}


#myTab {
    background: $primary-background-color;
}

#myTabContent {
    padding: 10px;
}

.container {
    box-shadow: 0px 16px 48px #00000026;
    padding: 0px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background: red;
    color: white;
    font-weight: 500;
}

.red-wave {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    margin-left: auto;
    top: 0;
    opacity: 0.6;
    z-index: 0;
}